{% extends 'website/base.html'%}
{% load static %}


{% block content %}
        <div class="header-height"></div>

        <section class="slider-section">
            <div class="slider-wrapper">
                <div id="main-slider" class="nivoSlider">
                    <img src="{% static 'img/Slider 1.png' %}" alt="" title="#slider-caption-1"/>
                    <img src="{% static 'img/Slider 2.png' %}" alt="" title="#slider-caption-2"/>
                    <!-- <img src="{% static 'img/bg2.jpg' %}" alt="" title="#slider-caption-3"/> -->
                </div><!-- /#main-slider -->

                <div id="slider-caption-1" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                   <h1 class="wow cssanimation leFadeInRight sequence">As we Worship The Lord</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Yet a time is coming and has now come when the true worshipers will worship the Father in the Spirit and in truth, <br> they are the kind of worshipers the Father seeks. God is spirit, and his worshipers must worship in the Spirit and in truth.”</p>
                                    <a href="{% url 'website:about' %}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">About Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-1 -->
                <div id="slider-caption-2" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h1 class="wow cssanimation fadeInTop" data-wow-delay="1s" data-wow-duration="800ms">In His Presence <br>there is fullness of joy</h1>
                                    <p class="wow cssanimation fadeInBottom" data-wow-delay="1s">choose you this day whom ye will serve; whether the gods which your fathers served that were on the other side of the flood, <br>or the gods of the Amorites, in whose land ye dwell: but as for me and my house, we will serve the Lord.</p>
                                    <a href="{% url 'website:about' %}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">About Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-2 -->
                <div id="slider-caption-3" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                    <h1 class="wow cssanimation lePushReleaseFrom sequence" data-wow-delay="1s">Give a little. Change a lot.</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Donet Now</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-3 -->
            </div>
        </section><!-- /#slider-Section -->


        </section><!-- /Causes Section -->

        <section class="events-section bg-grey bd-bottom padding">
            <div class="container">
                 <div class="section-heading text-center mb-40">
                     <h2>Upcoming Events</h2>
                     <span class="heading-border"></span>
                     <p>These are our upcoming  Events</p>
                 </div><!-- /Section Heading -->
                 <div id="event-carousel" class="events-wrap owl-Carousel">
                    {% for event in events %}
                         {% if event.event_is_upcoming %}
                     <div class="events-item">
                         <div class="event-thumb">
                            <img src="{{event.event_image.url}}" alt="events">
                         </div>
                         <div class="event-details">
                             <h3> {{ event.event_name }}</h3>
                             <div class="event-info">
                                 <p><i class="ti-calendar"></i>Happening : {{event.event_date.day}}/{{event.event_date.month}}/{{event.event_date.year}}</p>
                                 <p><i class="ti-location-pin"></i>{{event.event_venue}}</p>
                             </div>
                             <p>{{event.event_description}}</p>
                         </div>
                     </div><!-- Event-1 -->
                     {% endif %}
                    {% endfor %}
                 </div>
            </div>
         </section><!-- Events Section -->


        <section class="campaigns-section bd-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 xs-padding">
                        <div class="campaigns-wrap">
                            <h4>U - Point  Series</h4>
                            <h2>Championing For Intergrity</h2>
                            <p>An encouragement to intergrity. " Integrity is doing the right thing at the right time even when not watched"</p>
                            <a href="https://www.youtube.com/playlist?list=PLYW4smM13lFS1LmScTUXPEhE980Ma3Xj5 " target="_blank" rel="noopener no-referrer" class="default-btn">Watch More</a>
                        </div>
                    </div>
                    <div class="col-md-6 xs-padding">
                        <div class="video-wrap">
                            <img src="{% static 'img/Championing For Intergrity.png' %}" alt="video">
                            <div class="play">
                                <a class="img-popup" data-autoplay="true" data-vbtype="video"
                                href="https://youtu.be/nkSiaXCZ7Pg"><i class="ti-control-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Featured Campaigns Section -->




        <section class="testimonial-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Our Members Testimonies</h2>
                    <span class="heading-border"></span>
                    <p>These are the testmonies of our members <br> of the goodness of God in their lives.</p>
                </div><!-- /Section Heading -->
                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
                    {% for testimony in testimonies%}
                    <div class="testimonial-item">
                        <p>
                            {{testimony.testimony}}</p>
                        <div class="testi-footer">
                           <img src="{{testimony.image.url}}" alt="profile">
                            <h4>{{testimony.testimony_giver}} <span>{{testimony.position }}</span></h4>
                        </div>
                    </div>
                 {% endfor %}
            </div>
        </section><!-- Testimonial Section -->

        <section class="blog-section bg-grey bd-bottom padding">


                            </div><!-- Post 3 -->
                        </div>
                    </div><!-- Blog Posts -->
                </div>
            </div>
        </section><!-- Blog Section -->

        </div><!-- ./Sponsor Section -->

 {% endblock content %}
