{% extends 'website/base.html'%}
{% load static %}

        
{% block content %}
        <div class="header-height"></div>
        
        <section class="slider-section">
            <div class="slider-wrapper">
                <div id="main-slider" class="nivoSlider">
                    <img src="{% static 'img/Slider 1.png' %}" alt="" title="#slider-caption-1"/>
                    <img src="{% static 'img/Slider 2.png' %}" alt="" title="#slider-caption-2"/>
                    <!-- <img src="{% static 'img/bg2.jpg' %}" alt="" title="#slider-caption-3"/> -->
                </div><!-- /#main-slider -->

                <div id="slider-caption-1" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                   <h1 class="wow cssanimation leFadeInRight sequence">As we Worship The Lord</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Yet a time is coming and has now come when the true worshipers will worship the Father in the Spirit and in truth, <br> they are the kind of worshipers the Father seeks. God is spirit, and his worshipers must worship in the Spirit and in truth.”</p>
                                    <a href="about.html" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">About Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-1 -->
                <div id="slider-caption-2" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h1 class="wow cssanimation fadeInTop" data-wow-delay="1s" data-wow-duration="800ms">In His Presence <br>there is fullness of joy</h1>
                                    <p class="wow cssanimation fadeInBottom" data-wow-delay="1s">choose you this day whom ye will serve; whether the gods which your fathers served that were on the other side of the flood, <br>or the gods of the Amorites, in whose land ye dwell: but as for me and my house, we will serve the Lord.</p>
                                    <a href="about.html" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">About Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-2 -->
                <div id="slider-caption-3" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                    <h1 class="wow cssanimation lePushReleaseFrom sequence" data-wow-delay="1s">Give a little. Change a lot.</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Donet Now</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-3 -->
            </div>
        </section><!-- /#slider-Section -->
        

        </section><!-- /Causes Section -->

        <section class="events-section bg-grey bd-bottom padding">
            <div class="container">
                 <div class="section-heading text-center mb-40">
                     <h2>Upcoming Events</h2>
                     <span class="heading-border"></span>
                     <p>These are our upcoming  Events</p>
                 </div><!-- /Section Heading -->
                 <div id="event-carousel" class="events-wrap owl-Carousel">
                     <div class="events-item">
                         <div class="event-thumb">
                            <img src="{% static 'img/Christmass.png' %}" alt="events">
                         </div>
                         <div class="event-details">
                             <h3> HAPPY FESTIVE SEASON</h3>
                             <div class="event-info">
                                 <p><i class="ti-calendar"></i>Happening : 1St - 30th DEC 2024</p>
                                 <p><i class="ti-location-pin"></i>At your Comfort</p>
                             </div>
                             <p>EUNCCU wishes you and your families a happy festive season</p>
                         </div>
                     </div><!-- Event-1 -->
                     <div class="events-item">
                         <div class="event-thumb">
                            <img src="{% static 'img/new year.png' %}" alt="events">
                         </div>
                         <div class="event-details">
                             <h3>Happy New Year 2024</h3>
                             <div class="event-info">
                                 <p><i class="ti-calendar"></i>Happening : 1st - 31st  Jan 2025.</p>
                                 <p><i class="ti-location-pin"></i>At your Comfort</p>
                             </div>
                             <p>This Climaxes our spiritual year, and transition from one leadership to another</p>
                         </div>
                     
                     </div><!-- Event-3 -->
                 </div>
            </div>
         </section><!-- Events Section -->

        
        <section class="campaigns-section bd-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 xs-padding">
                        <div class="campaigns-wrap">
                            <h4>U - Point  Series</h4>
                            <h2>Championing For Intergrity</h2>
                            <p>An encouragement to intergrity. " Integrity is doing the right thing at the right time even when not watched"</p>
                            <a href="https://www.youtube.com/playlist?list=PLYW4smM13lFS1LmScTUXPEhE980Ma3Xj5 " target="_blank" rel="noopener no-referrer" class="default-btn">Watch More</a>
                        </div>
                    </div>
                    <div class="col-md-6 xs-padding">
                        <div class="video-wrap">
                            <img src="{% static 'img/Championing For Intergrity.png' %}" alt="video">
                            <div class="play">
                                <a class="img-popup" data-autoplay="true" data-vbtype="video" 
                                href="https://youtu.be/nkSiaXCZ7Pg"><i class="ti-control-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Featured Campaigns Section -->
        
       
        
        
        <section class="testimonial-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Our Members Testimonies</h2>
                    <span class="heading-border"></span>
                    <p>These are the testmonies of our members <br> of the goodness of God in their lives.</p>
                </div><!-- /Section Heading -->
                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
                    <div class="testimonial-item">
                        <p>
                            EUNCCU has helped me grow holistically and spiritually, providing sessions and friendships that enrich my life. I cherish my weekends at B1 church and consider this community a true blessing.</p>
                        <div class="testi-footer">
                           <img src="{% static 'img/Test 1.png' %}" alt="profile">
                            <h4>Lynne Kanana <span>Chairperson, Praise & Worship Ministry</span></h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            EUNCCU has provided me with direction and purpose, shaping my spiritual growth through fellowship, worship, and activities. It has become my home and deepened my relationship with God.</p>
                        <div class="testi-footer">
                           <img src="{% static 'img/Test 2.png' %}" alt="profile">
                            <h4>Faith Mumbe <span>Chairperson UET</span></h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>EUNCCU has mentored many individuals, including government officials, through fellowships, Bible studies, and mentorship programs significantly, and I celebrate its enduring legacy. Long live EUNCCU!</p>
                        <div class="testi-footer">
                           <img src="{% static 'img/Test 3.png' %}" alt="profile">
                            <h4>James Mbuvi <span>Vice Chairperson EUNCCU</span></h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>EUNCCU is a source of joy and peace, fostering growth and a deeper understanding of God. We should remember that our journey ahead is beautiful because our God reigns.</p>
                        <div class="testi-footer">
                           <img src="{% static 'img/Test 4.png' %}" alt="profile">
                            <h4>Timothy Kimathi <span>Chairperson Ebenezer Ministry</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Testimonial Section -->
        
        <section class="blog-section bg-grey bd-bottom padding">
            
                            
                            </div><!-- Post 3 -->
                        </div>
                    </div><!-- Blog Posts -->
                </div>
            </div>
        </section><!-- Blog Section -->
        
        </div><!-- ./Sponsor Section -->
        
 {% endblock content %}   