{% extends 'website/base.html'%}
{% load static %}


{% block content %}

        <div class="header-height"></div>

        <div class="pager-header">
            <div class="container">
                <div class="page-content">
                    <h2>Our Executive Committee</h2>
                    <p>Our Peak Leadership structure comprises of the following <br>executive positions;</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'website:home'%}">Home</a></li>
                        <li class="breadcrumb-item active">Leadership</li>
                    </ol>
                </div>
            </div>
        </div><!-- /Page Header -->

        <section class="causes-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="causes-wrap row">
                    {% for leader in leaders %}
                    <div class="col-md-4 padding-15">
                        <div class="causes-content">
                           <div class="causes-thumb">
                                <img src="{{ leader.leader_image.url }}" alt="image">
                                <a href="https://wa.me/{{leader.leader_contact}}" target="_blank" class="donate-btn">Contact Me</a>

                           </div>
                            <div class="causes-details">
                                <h3>{{leader.leader_name}} - {{leader.leader_position}}.</h3>
                                <p>{{leader.leader_description}}</p>
                            </div>
                        </div>
                    </div><!-- /Position-1 -->
                 {% endfor %}

                </div>
            </div>
        </section><!-- /Leadership -->

{% endblock content %}
