{% extends 'website/base.html'%}
{% load static %}


{% block content %}

        <div class="header-height"></div>

        <div class="pager-header">
            <div class="container">
                <div class="page-content">
                    <h2>Ministries and E-Teams</h2>
                    <p>These are our Ministries and Evangelistic Teams<br></p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'website:home'%}">Home</a></li>
                        <li class="breadcrumb-item active">Ministries/E-Teams</li>
                    </ol>
                </div>
            </div>
        </div><!-- /Page Header -->

       <section class="events-section bg-grey bd-bottom padding">
           <div class="container">
                <div id="event-carousel" class="events-wrap owl-Carousel">
                    {% for ministry in ministries %}
                    <div class="events-item">
                        <div class="event-thumb">
                           <img src="{{ministry.ministry_image.url}}" alt="events">
                        </div>
                        <div class="event-details">
                            <h3>{{ministry.ministry_name}}.</h3>
                            <p>{{ministry.ministry_description}}. </p>
                            <a href="https://wa.me/{{ministry.ministry_chair}}" class="default-btn" target="_blank" class="default-btn">More Info Contact</a>
                        </div>
                    </div><!-- Literature-1 -->
                 {% endfor %}
                </div>
           </div>
        </section><!-- Events Section -->

        <section class="cta-section d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                       <div class="cta-content">
                           <h2>Ready to Join Ministry/E-Team?</h2>
                            <p>Do you wish to serve God through your talents and gifts? Then plug in a ministry and grow spiritually and skill-wise.</p>
                       </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center text-right">
                        <a href="https://wa.me/254102186205" target="_blank" class="default-btn">Whatsapp Us</a>
                    </div>
               </div>
            </div>
        </section><!-- Call To Action Section -->

        <section class="blog-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Evangelistic Teams</h2>
                    <span class="heading-border"></span>
                    <p>These are regional teams with a main objective is evangelism by preaching Christ in different areas of the country and promote cohesion among the union members in the different regional teams</p>
                </div><!-- /Section Heading -->
                <div class="row">
                    <div class="col-lg-12 xs-padding">
                        <div class="blog-items grid-list row">
                          {% for eteam in eteams %}
                            <div class="col-md-4 padding-15">
                                <div class="blog-post">
                                    <img src="{{eteam.team_image.url}}" alt="blog post">
                                    <div class="blog-content">
                                        <h3><a href="#">{{eteam.team_name}}</a></h3>
                                        <p>{{eteam.team_description}}.</p>
                                        <a href="https://wa.me/{{ eteam.team_chair }}" class="default-btn" target="_blank" class="default-btn">More Info Contact</a>
                                    </div>
                                </div>
                            </div><!-- CET -->
                          {% endfor %}
                        </div>
                    </div><!-- E-Teams -->
                </div>
            </div>
        </section><!-- Ministries / E-Teams Section -->


{% endblock content %}
